Node-RED/sensor_flow.json
[
    {
        "id": "8a2e7bcc41ef74a9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2acafc7daa3d6cd1",
        "type": "ui_gauge",
        "z": "8a2e7bcc41ef74a9",
        "name": "",
        "group": "a2ec76bb0a0e5972",
        "order": 1,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature",
        "label": "temperature",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 20,
        "wires": []
    },
    {
        "id": "daa85ca5355a3d53",
        "type": "ui_gauge",
        "z": "8a2e7bcc41ef74a9",
        "name": "",
        "group": "a2ec76bb0a0e5972",
        "order": 8,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Humidity",
        "label": "humidity",
        "format": "{{value}}%",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 640,
        "y": 180,
        "wires": []
    },
    {
        "id": "3a4f450aceff1f96",
        "type": "mqtt in",
        "z": "8a2e7bcc41ef74a9",
        "name": "",
        "topic": "home/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac1ec762555769ad",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "869c669061ee68ec",
                "b6f2ba573e2cb3f5"
            ]
        ]
    },
    {
        "id": "47e7b4b562f9bf2e",
        "type": "ui_chart",
        "z": "8a2e7bcc41ef74a9",
        "name": "",
        "group": "a2ec76bb0a0e5972",
        "order": 3,
        "width": 5,
        "height": 4,
        "label": "Temperature Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "68036be6a48749f2",
        "type": "ui_chart",
        "z": "8a2e7bcc41ef74a9",
        "name": "",
        "group": "a2ec76bb0a0e5972",
        "order": 10,
        "width": 5,
        "height": 4,
        "label": "Humidity Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "b6f2ba573e2cb3f5",
        "type": "function",
        "z": "8a2e7bcc41ef74a9",
        "name": "Extract Humidity",
        "func": "// Assuming the message payload is a parsed JavaScript object\nlet humidity = msg.payload.humidity;  // Extract the temperature property\n\n// Prepare the output message with the extracted temperature\nmsg.payload = humidity;\n\nreturn msg; // Return the message to be used by the next node\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [
            [
                "daa85ca5355a3d53",
                "68036be6a48749f2"
            ]
        ]
    },
    {
        "id": "869c669061ee68ec",
        "type": "function",
        "z": "8a2e7bcc41ef74a9",
        "name": "Extract Temperature",
        "func": "// Assuming the message payload is a parsed JavaScript object\nlet temperature = msg.payload.temperature;  // Extract the temperature property\n\n// Prepare the output message with the extracted temperature\nmsg.payload = temperature;\n\nreturn msg; // Return the message to be used by the next node\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 60,
        "wires": [
            [
                "2acafc7daa3d6cd1",
                "47e7b4b562f9bf2e"
            ]
        ]
    },
    {
        "id": "54e8922fb00ecb44",
        "type": "ui_spacer",
        "z": "8a2e7bcc41ef74a9",
        "name": "spacer",
        "group": "a2ec76bb0a0e5972",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "6919d59954463998",
        "type": "ui_spacer",
        "z": "8a2e7bcc41ef74a9",
        "name": "spacer",
        "group": "a2ec76bb0a0e5972",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "3eb77c8c10f5bd9f",
        "type": "ui_spacer",
        "z": "8a2e7bcc41ef74a9",
        "name": "spacer",
        "group": "a2ec76bb0a0e5972",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "f8645436be415ebb",
        "type": "ui_spacer",
        "z": "8a2e7bcc41ef74a9",
        "name": "spacer",
        "group": "a2ec76bb0a0e5972",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "7a90d68804077665",
        "type": "ui_spacer",
        "z": "8a2e7bcc41ef74a9",
        "name": "spacer",
        "group": "a2ec76bb0a0e5972",
        "order": 7,
        "width": 11,
        "height": 1
    },
    {
        "id": "86082338c397d1b8",
        "type": "ui_spacer",
        "z": "8a2e7bcc41ef74a9",
        "name": "spacer",
        "group": "a2ec76bb0a0e5972",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "21b03efbc3c5da87",
        "type": "ui_spacer",
        "z": "8a2e7bcc41ef74a9",
        "name": "spacer",
        "group": "a2ec76bb0a0e5972",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "699f22b3e6164ef0",
        "type": "ui_spacer",
        "z": "8a2e7bcc41ef74a9",
        "name": "spacer",
        "group": "a2ec76bb0a0e5972",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "e8ccac30a8e62b3e",
        "type": "ui_spacer",
        "z": "8a2e7bcc41ef74a9",
        "name": "spacer",
        "group": "a2ec76bb0a0e5972",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "a2ec76bb0a0e5972",
        "type": "ui_group",
        "name": "Environment",
        "tab": "710790bd355ac1a3",
        "order": 1,
        "disp": true,
        "width": 11,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ac1ec762555769ad",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "710790bd355ac1a3",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]